/* CSS COLOR */
/* **************************************************************** */

:root{
    --azulP: #0D6EFD;
    --azulS: #1EA3FC;
    --blanco: #EAEAEA;
    --gris1: #3A3A3A;
    --gris2: #666666;
    --gris3: #949494;
    --online: #58D68D;
    --offline: #EC7063;
    --colorErrores: #CB4335;
}

.border-red{
    border: 1px solid red;
}

.contenedorFallos{
    color: var(--colorErrores);
}