/* CSS LAYOUT */
/* **************************************************************** */

/* fondo */
.fondoGris1{
  background-color: var(--gris1);
}

/* ICONOS */
.icono {
  width: 2.8125rem;
}

/* Botones */
button {
  height: 50px;
  border-radius: 1.25rem;
  font-size: 1.5625rem;
  border: none;
}

.botonAzul {
  color: var(--blanco);
  background-color: var(--azulP);
}

.botonBlanco {
  color: var(--gris1);
  background-color: var(--blanco);
}

/* VIP */
/* .vip {
  display: none;
} */

/* HEADER */
/* Menu */
.menu {
  background-color: var(--blanco);
  height: 60px;
}
/* MenuHorizontal */
.menuHori {
  height: 127px;
  width: 100%;
  background-color: var(--blanco);
  display: none;

}

.menuHori ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menuHori ul li {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* MenuMovil */

.menuMovil {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuMovil * {
  width: 33%;
}

.menuHamb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuHamb label{
  height: 100%;
  width: 100%;
  padding: 5px;
}


.sectionLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMovil {
  width: 100%;
}

/* Menu Desplegable */
.menuDesplegable {
  position: absolute;
  left: -1000px;
  height: 49rem;
  width: 100%;
  background-color: var(--azulP);
  top: 3.75rem;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
}

.menuDesplegable *{
  width: auto;
}

.menuDesplegable ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 50px;
  width: 100%;
}

.menuDesplegable  ul  li  a{
  color: var(--blanco);
  font-family: KanitBold;
  font-size: 3.4375rem;
  text-shadow: 2px 2px 3px var(--gris1);
}

/* Función al clickar en el icono de menu */
.activadorMenuDesplegable:checked ~ .menuDesplegable { 
  left: 0;
  transition-duration: 0.5s;
}

.activadorMenuDesplegable {
  display: none;
}

/* MAIN */

/* Section Principal */
.sectionPrincipal {
  height: 81vh;
  width: 100%;
  background-color: var(--azulS);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section que contiene la explicación */

.sectionExplicacion {
  height: 100vh;
  width: 100%;
  background-color: var(--azulP);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionExplicacion p {
  width: 350px;
  text-align: center;
  padding: 0;
}

/* MAIN LOGIN */

.mainLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.formLogin input{
  background-color: var(--blanco);
  border: none;
  padding: 10px 5px;
  margin: 5px;
}

.formLogin p{
  margin: 0;
  padding: .9375rem 0 0 0;
  color: var(--azulP);
}

.formLogin a{
  color: var(--blanco);
  padding: .625rem;
}

.formLogin hr{
  width: 80%;
  background-color: var(--blanco);
}

.formLogin button{
  margin: .625rem;
}

/* MAIN REGISTRO */

.mainRegistro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formRegistro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.formRegistro input{
  background-color: var(--blanco);
  border: none;
  padding: 10px 5px;
  margin: 5px;
}

.formRegistro p{
  margin: 0;
  padding: .9375rem 0 0 0;
  color: var(--azulP);
}

.formRegistro a{
  color: var(--blanco);
  padding: .625rem;
}

.formRegistro hr{
  width: 80%;
  background-color: var(--blanco);
}

.formRegistro button{
  margin: .625rem;
}

/* MAIN MINEROS */

.mainMineros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mineros{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 7.5rem 7.5rem 7.5rem 7.5rem 7.5rem 7.5rem;
}

.minero{
  background-color: var(--gris2);
  padding: .625rem;
  border-radius: 20px;
  width: 90%;
  height: 6.25rem;
  box-shadow: 0rem .25rem .25rem 0rem #00000040;
  display: grid;
  grid-template-columns: 1fr 1.25rem;
  grid-template-rows: 1.25rem 3.75rem;
  align-self: center;
  justify-self: center;
}

.estado{
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 11.25rem;
}

.nombreMinero{
  color: var(--azulS);
}

.ip{
  color: var(--blanco);
}

.online{
  background-color: var(--online);
}

.offline{
  background-color: var(--offline);
  color: var(--gris3);
}

/* CONTACTAR */

.mainContactar{
  display: flex;
  justify-content: center;
  height: 100vh;
}


/* FOOTER */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gris3);
  /* justify-content: center; */
}

footer *{
    color: var(--gris1);
}

footer hr{
  width: 80%;
}

.pFooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.pFooter + div{
  flex-grow: 1;
}

.rrssFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rrssFooter img{
  height: 3.125rem;
  padding: .125rem;
}

.sFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sFooter span{
  padding: .3125rem;
}


