/* CSS TYPOGRAFÍA */
/* **************************************************************** */

@font-face{
    font-family: 'Kanit';
    src: url(../font/kanit-regular.otf)
}

@font-face {
    font-family: 'KanitBold';
    src: url(../font/kanit-bold.otf);
}

*{
    font-family: Kanit;
}

button{
    font-family: KanitBold;
}

.negrita{
    font-family: KanitBold;
}

.blanco{
    color: var(--blanco);
}

h1{
    font-family: KanitBold;
    font-size: 30px;
    margin: 0;
}

h2{
    font-family: KanitBold;
    font-size: 25px;
    color: var(--azulP);
}

p{
    font-family: Kanit;
    font-size: 16px;
}